<nz-collapse>

        <nz-table  #rowSelectionTable [nzData]="datas">
                <thead>
                        <tr>
                          <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
                          <th>编号</th>
                            <th>名称</th>
                            <th>触发组名称</th>
                            <th>描述</th>
                            <th>执行周期</th>
                            <th>开始时间</th>
                            <th>创建时间</th>
                            <th>异常信息</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                            <tr *ngFor="let data of datas">
                              <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus($event)"></td>
                              <td>{{data.ID}}</td>
                              <td>{{data.taskName}}</td>
                              <td>{{data.taskGroup}}</td>
                              <td>{{data.describe}}</td>
                              <td>{{data.cron}}</td>
                              <td>{{data.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                              <td>{{data.createDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                              <td>{{data.logInfo}}</td>
                              <td>
                                    <nz-tag *ngIf="data.state=='运行中'"  [nzColor]="'#87d068'"> {{ data.state}}</nz-tag>
                                    <nz-tag *ngIf="data.state=='暂停'" [nzColor]="'#108ee9'">{{data.state}}</nz-tag>
                              </td>
                              <td>

                                  <button *ngIf="data.state=='暂停'" nz-button nzType="default">开始</button>
                                  <button *ngIf="data.state!='暂停'" nz-button nzType="default">暂停</button>
                                <button nz-button nzType="default">删除</button>
                                <nz-dropdown>
                                        <button nz-button nz-dropdown>
                                          <span>更多</span>
                                          <i class="anticon anticon-down"></i>
                                        </button>
                                        <ul nz-menu style="border: 1px solid #D9D9D9;background-color: rgb(245, 245, 245)">
                                          <li nz-menu-item>
                                            <a>
                                              <button nz-button (click)="editJob(jobInfo.name,panel.groupName)">编辑</button>
                                            </a>
                                          </li>
                                          <li nz-menu-item>
                                            <a>
                                              <button nz-button (click)="triggerJob(jobInfo.name,panel.groupName)">执行</button>
                                            </a>
                                          </li>
                                          <li nz-menu-item>
                                            <a>
                                              <button nz-button (click)="getJobLogs(jobInfo.name,panel.groupName)">日志</button>
                                            </a>
                                          </li>
                                        </ul>
                                      </nz-dropdown>
                            </tr>
                          </tbody>
        </nz-table>
      <p style="margin:0;">{{data?.describe}}</p>

  </nz-collapse>